# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Model checkpoints (büyük dosyalar)
outputs/q1/bert_best.pt
outputs/q2/bert_ner_best.pt
outputs/q4/seq2seq_best.pt
outputs/q5/lstm_best.pt

# OS
.DS_Store

# Jupyter
.ipynb_checkpoints/
